

$textColor: #768189;
$textColorLight: #fff;
$accentColor: #002946;
$textColorHover: #005A8D;
$bgColor: #F7F7F8;
$bgTabelHeader: #EAEEF0;


// $colorTitle: #363838;
// $primaryColor: #FFF;
// $linkColorGrey: #8F8D8D;
// $secondaryColor: #C7C7C7;

